body >header,main {
 margin: 50px 100px ;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    padding-left: 44px;
    margin-top: 30px;
}
nav a{
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
text-decoration: none;

}
li span>a{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.head span{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.head >p{
    display: flex;
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* banner section started  */
.banner{

    width: 1170px;
height: 500px;
border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png') ;
background-repeat: no-repeat;
text-align: center;

}
.banner h1{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 80px;
}
.banner>P{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.input{

    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-top: 40px;
}
.input>.input-item{
    display: flex;
    width: 174px;
height: 52px;
    border: none;
    border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
 

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-primary{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
}
.btn-primary >img{
   position: relative;
   top: 8px;
}
@media screen and (max-width:600px) {

    body >header,main {
 margin: 20px 10px ;
}
    .header-top{
    flex-direction: column;
   } 
   nav ul{
   
    padding-right: 20px;
    justify-content: flex-end;
   }
   nav li{
    padding-left: 10px;
    
    
   }
   .head >p {
    margin: 0px auto;
    text-align: center;
   }
   .banner{
    width: 410px;
height: 500px;
object-fit: cover;
justify-content: center;
   }
   .banner h1{
    font-size: 22px
   }
   .input{
    margin-top: 10px;

padding: 16px;
flex-direction: column;

gap: 6px;
   }
   .input .btn-primary{
    width: 255px;
height: 52px;

   }
   .input>.input-item{
    width: 255px;
height: 52px;

   }
}