body >header,main {
 margin: 50px 100px ;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.bar{
    display: none;
}
nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    padding-left: 44px;
    margin-top: 30px;
}
nav a{
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
text-decoration: none;

}
li span>a{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.head span{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.head >p{
    display: flex;
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* banner section started  */
.banner{

    width: 1170px;
height: 500px;
border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png') ;
background-repeat: no-repeat;
text-align: center;

}
.banner h1{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 80px;
}
.banner>P{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.input{

    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-top: 40px;
}
.input>.input-item{
    display: flex;
    width: 174px;
height: 52px;
    border: none;
    border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
 padding-left: 14px;

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#Where-go{
     width: 160px;
     height: 52px;
}
.btn-primary{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
}
.btn-primary >img{
   position: relative;
   top: 8px;
}

/* main section started  */

.top-main{
    display: flex;
    gap: 70px;
}
.top-main > div{
    width: 100%;
  
}
.title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 20px;
}
.text{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

/* main-second started  */
.main-second{
    text-align: center;
}
.main-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}
.main-img div{
    padding: 10px;
    object-fit: cover;
    gap:10px;
    height: 216px;
  
}
.main-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}
.main-img .img-1{
  grid-column: 1 / span 6;
  grid-row: 1/ span 1;

}
.img-2{
    grid-column: 7 / span 6;
    grid-row: 1/ span 1;
}
.img-3{
    grid-column: 1 / span 4;
    grid-row: 2/ span 1;
}
.img-4{
    grid-column: 5 / span 5;
    grid-row: 2/ span 1;
}
.img-5{
    grid-column: 10 / span 3;
    grid-row: 2/ span 1;
}
.img-6{
    grid-column: 1 / span 5;
    grid-row: 3/ span 1;
}
.img-7{
    grid-column: 6 / span 8;
    grid-row: 3/ span 1;
}
.main-img p{
    position: relative;
    top: 70%;
    
    color: #FFF;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.main-second h2{
    position: relative;
    top: 30px;
}
 .main-second>p{
    position: relative;
    top: 60px;
 }   

/* own section started */

.own {
    position: relative; 
    width: 1120px;
height: 530px;
object-fit: cover;
margin-top: 90px;
border-radius: 20px;
  }
  
  .own img {
    display: block;
    border-radius: 10px;
    width: 1120px;
height: 530px;
  }
 
  .content{
    display: none;
  }
  .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0; 
    transition: opacity 1s ease-in-out; /
  }
  
  .own:hover .hover-content {
    opacity: 1;
    
  }
  

/* main third started */

.main-third{
    text-align: center;
    position: relative;
    top: 80px;
}
.rectangle h2{
    color: #131318;

font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.rectangle >div{
    width: 500px;
height: 284px;
padding: 20px;
}
.rectangle{
    display: flex;
flex-wrap: wrap;
margin: 0px auto;
gap: 20px;
text-align: start;
}
.rectangle-1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.rectangle-2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.rectangle-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0px auto;
}

/* deals section started */

.deals{
    text-align: center;
    position: relative;
    top: 90px;
    
}
.deal-1,.deal-3{
    width: 1170px;
height: 500px;
background-image: url("B9A2-Hero-Travel/Images/Group\ 39.png");
margin-bottom: 30px;

}
.deal-2{
    width: 1170px;
    height: 500px;
    background-image: url("B9A2-Hero-Travel/Images/Group\ 40.png");
    margin: 30px 0px;
}
.deal-2 .deal-inner{
    left: 5%;
}
.deal-inner{

    width: 579px;
height: 389px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
text-align: left;
padding-left: 40px;
position: relative;
top: 12%;
left: 42%;
}
.deal-top{
    display: flex;
    justify-content: space-between;
   
    padding-right: 40px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 30px;

}
.deal-inner> h2{
    font-size: 24px;
    margin-left: 0px;
}
.deal-inner >p{
    font-size: 16px;
}
.price{
    color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.deal-inner>button{
    margin-top: 20px;
}

/* main forth started */

.main-forth{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}
.main-forth>div{
    max-width: 530px;
    border-radius: 5px;
    height: 420px;
}
.forth-img iframe{
    border-radius: 15px;
    height: 350px;
    border-radius: 16px;
background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.forth-text .title{
   margin: 0px;
}

/* main last section started */

.main-last{
    display: flex;
    justify-content: space-between;
}
.newsletter{
    width: 380px;
   
height: 320px;
border-radius: 16px;
border: 1px solid #FF5400;
padding: 20px;
}

.newsletter .title{
    font-size: 24px;
    margin: 0px;
}
.newsletter >input{
    width: 375px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding-left: 15px;
margin-bottom: 15px;

}
.newsletter >button{
    width: 390px;
    height: 52px;
  
}
.last-img{

    background-image: url("B9A2-Hero-Travel/Images/Rectangle\ 8\ \(1\).png");
    background-repeat: no-repeat;
    width: 672px;
    height: 360px;
    background-size: cover;
    border-radius: 15px;
    
    
}
.last-img h2{
    font-size: 32px;
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 10px;
}
.last-img p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 15px;
margin: 0px;
}
.discount{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
text-align: center;
border-radius: 16px;
background: #FF5400;
position: relative;
top: 53%;
left: 50%;
}

/* footer section started */
.footer{
  
    width: 940px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    gap: 30px;
    padding: 90px 200px;
}
.footer span{
    color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.footer >p{
    
    color: #131318;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 30px;
}
.footer .text{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.icon{
    margin-top: 30px;
    font-size: 24px;
}
.footer .last{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
@media screen and (max-width:600px) {
 body{
    max-width: 400px;
 }
    body >header,main {
 margin: 10px ;
 padding: 5px;
}
    .header-top .bar{
       position: relative;
    top:  25px;
    display: contents;
   } 
  nav{
    display: none;
  }
   .head >p {
    margin: 0px auto;
    text-align: center;
   }
   .banner{
    width: 385px;
height: 500px;
object-fit: cover;

   }
   .banner h1{
    font-size: 22px;
    margin-top: 30px;
   }
   .input{
    margin-top: 10px;

padding: 16px;
flex-direction: column;

gap: 6px;
   }
   .input .btn-primary{
    width: 255px;
height: 52px;

   }
   .input>.input-item{
    width: 255px;
height: 52px;

   }
   #Where-go{
    width: 240px;
   }
   .top-main{
    flex-direction: column;
   }
   .top-img{
    width: 100%;

object-fit: cover;
   }
   .top-img>img{
    width: 100%;
   }
   .main-second >.main-img{
    display: block;
   }
   .title{
    font-size: 20px;
   }
   .text{
    font-size: 14px;
   }
   .main-third{
    max-width: 335px;
   }
   .rectangle{
    display: block;
    width:  335px;
 
   }
   .rectangle >div{
    width: 335px;
    height: 289px;
   
padding: 10px;
}
.deal-1, .deal-2,.deal-3{
    width: 350px;
height: 500px;

}
.deal-inner{
    width: 270px;
height: 355px;
left: 0%;
margin: 15px;
top: 20%;
}
.deal-2 >.deal-inner{
    width: 270px;
height: 355px;
left: 0%;
margin: 15px;
top: 20%;
}
.deal-inner>p{
    font-size: 14px;
}
.btn-primary{
    width: 130px;
height: 40px;

}
.deal-inner .btn-primary{
    margin: 10px;
}
.main-third{
    margin-top: 350px;
}
.deals{
    width: 335px;
}
.rectangle-3{
    margin: 0px;
}
.deals> .btn-primary{
    display: none;
}
.main-forth{
    display: block;
    margin-top: 150px;
}
    .forth-img{
        max-width: 355px;
    height: 200px;
    }
.forth-img iframe {
    max-width: 350px;
    height: 200px;
}
.main-forth >.forth-text {
    max-width: 335px;
    height: 400px;
}
.main-last{
    display: block;
}
.newsletter{
    width: 335px;
height: 353px;
position: relative;
top: -90px;
}
.newsletter >input{
    width: 274px;
    height: 52px;
    flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding-left: 15px;
margin-bottom: 15px;

}
.newsletter > .btn-primary{
    width: 288px;
height: 52px;

}
.last-img {
    width: 375px;
height: 300px;

}
.last-img .discount{
    width: 214.023px;
height: 79.268px;
transform: rotate(-19.628deg);
flex-shrink: 0;
left: 42%;
top: 63%;
}
.discount .title{
    font-size: 21px;
}
.discount p{
    font-size: 15px;
}
.footer{
    width: 335px;
height: 400px;

    background: rgba(19, 19, 24, 0.05);
    padding: 10px 30px;
}
.own{
    width: 335px;
    height: 400px;
    object-fit: cover;
}
.own img{
    width: 335px;
    height: 400px;
}
.hover-content{
    display: none;
}
.content{
    width: 350px;
    display: contents;

}
}